h1 {
    color: blue;
}
img {
    width: 50vw;
    margin-top: 1rem;
}

span {
    background-color: yellow;
}
div {
    background-color: hotpink;
}
.test {
    background-color: gray;
}

header {
    font-size: 1rem
}

.base {
    font-size: 30px;
    font-weight: bold;
}

.black{
    color: black;
}

.red{
    color: red;
}

.green{
    color: green;
}

div[class="div"] {
    background-color: maroon;
    color: mintcream;
    padding: 5px;
}

a:link {
    color: red;
}
*:visited {
    color: green;
}
*:hover {
    text-decoration: none;
}

.linker {
    padding: 1rem;
    background-color: white;
}

#form {
    padding: 3rem 0 1rem;
}

footer {
    position: relative;
    bottom: 0;

    text-align: center;
    background-color: rgba(138, 43, 226, 0.5);
    color: white;
    border-left: 8px solid #2b2b2b;
    padding: 2rem;
    
    border-color: black;
    margin-top: 1rem;
}