h1 {
    color: blue;
}
p {
    font-size: 24px;
    background-color: rgb(255, 255, 255);
}
span {
    background-color: yellow;
}
div {
    background-color: hotpink;
}
.test {
    background-color: gray;
}
#header{
    font-size: 18px;
}

.base {
    font-size: 30px;
    font-weight: bold;
}

.black{
    color: black;
}

.red{
    color: red;
}

.green{
    color: green;
}

div[class="div"] {
    background-color: maroon;
    color: mintcream;
    padding: 5px;
}

a:link {
    color: red;
}
:visited {
    color: green;
}
a:hover {
    text-decoration: none;
}
